/* 共通のスタイル */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  position: relative;
  gap: 20px;
}

h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #1E4062;
}

.button {
  border-color: #1E4062;
  border-radius: 6px;
  background-color: #1E4062;
  color: white;
  height: 32px;
  cursor: pointer;
}

/* Todo画面 */
.logout-form {
  position: absolute;
  top: 20px;
  right: 20px;
}

.logout {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 16px;
  color: #1E4062;
}

.todo-form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  width: 500px;
}


.delete-button {
  border-color: rgb(167, 25, 25);
  border-radius: 6px;
  background-color: rgb(167, 25, 25);
  color: white;
  height: 32px;
  cursor: pointer;
}

.list-form {
  width: 70%;
  border-bottom: #1E4062 solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

p {
  margin: 0;
}

.list-todo {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #1E4062;
}

.done-todo {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #1E4062;
}

/* ユーザー登録＆ログイン画面 */
.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input {
  width: 100%;
  height: 32px;
}

a {
  text-decoration: none;
  color: #1E4062;
}

.error {
  color: rgb(201, 2, 2);
}