/* 共通のスタイル */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  position: relative;
  gap: 20px;
}

h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #1E4062;
}

p {
  margin: 0;
}

input {
  width: 480px;
  height: 28px;
  padding-left: 8px;
}

.button {
  border-color: #1E4062;
  border-radius: 6px;
  background-color: #1E4062;
  color: white;
  height: 32px;
  cursor: pointer;
}

.delete-button {
  border-color: rgb(167, 25, 25);
  border-radius: 6px;
  background-color: rgb(167, 25, 25);
  color: white;
  height: 32px;
  cursor: pointer;
}

.edit-button {
  height: 32px;
  border-radius: 6px;
  border-color: gray;
}

.save-button {
  height: 32px;
  border-radius: 6px;
  background-color: orange;
}

.cancel-button {
  height: 32px;
  border-radius:6px;
}

.todo-form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.deadline-input {
  width: 150px !important;
  height: 32px;
  border: 1px solid #1E4062;
  border-radius: 6px;
}

.list-form {
  width: 70%;
  border-bottom: #1E4062 solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.todo-content {
  flex: 1;
}

.deadline {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}

.list-todo {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #1E4062;
}

.done-todo {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #1E4062;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input {
  width: 100%;
  height: 32px;
}

.error {
  color: rgb(201, 2, 2);
}

// 編集モードのスタイル //
.edit-mode input[type="text"] {
  width: 200px;
  padding: 8px;
}

.edit-mode input[type="dete"] {
  padding: 8px;
}

// ボタングループのスタイル
.button-group {
  display: flex;
  gap: 5px;
}

.normal-buttons, .edit-buttons {
  display: flex;
  gap: 5px;
}

.edit-deadline {
  width: 100px;
}
